/* 2- */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


/* .mobile{
    display: flex;
    justify-content: center;
}
h3{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 400px;
 
}  */
/* 
table {
    width: 60%;
    border-collapse: collapse;
    margin: 20px auto;
}

th,td {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}

button {
    padding: 5px 10px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
} */
